<a href="https://colab.research.google.com/github/juanFFlorezM/Extraccion_de_datos/blob/main/2_valores_nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Cargamos las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# cargar archivo en el data frame data
# se despliegan las cinco primeras registros de la BD
data=pd.read_csv('inmuebles2.csv')
data.head(5)

,Unnamed: 0,Esta es una base de datos que describe las operaciones inmobiliarias de una empresa,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,0,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
1,1,1,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291,2133903,2004-06-19 00:00:00,Carmen
2,2,2,2004-01-01 00:00:00,Local,Venta,Girona,185,1945424,2004-04-19 00:00:00,Pedro
3,3,3,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82,NaN,2004-11-08 00:00:00,Joaquín
4,4,4,2004-01-02 00:00:00,Parking,Alquiler,Girona,285,NaN,2004-04-27 00:00:00,Jesús

In [3]:
# Al observarla se observa que tiene una fila, la primera que se debe borrar
# y tambien dos columnas innecesarias, la 1 y la 2.
# Para eliminar la primera fila que tiene nombres repetidos de los campos
data1=pd.read_csv('inmuebles2.csv',skiprows=1)
data1.head(5)

,0,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,1,1,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2,2,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,3,3,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,NaN,2004-11-08 00:00:00,Joaquín
3,4,4,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
4,5,5,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María

In [4]:
#eliminar las dos primeras columnas
# axis = 1 para columnas
# axis = 0 para filas
data2=data1.drop(['0','Referencia'], axis=1)
data2.head(5)

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,NaN,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María

In [5]:
# identificar datos nulos
valores_nulos=data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [7]:
# identificar el total de los valores nulos
nulos_total=data2.isnull().sum().sum()
nulos_total

1175

Metodos de sustituccion de valores nulos

In [8]:
# metodo 1, media o promedio
# lo aplicaremos a la variable numerica superficie
# pero antes se hara una copia del dataframe 2 a uno 3
data3=data2.copy()

In [9]:
# Metodo 1: media o promedio
# variable numerica superficie
data3['Superficie'] = data3['Superficie'].fillna(data3['Superficie'].mean())

In [10]:
# identificar datos nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [12]:
# Metodo 2: mediana
# lo aplicaremos a la variable numerica Precio Venta
data3['Precio Venta'] = data3['Precio Venta'].fillna(data3['Precio Venta'].median())

In [13]:
# identificar datos nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [14]:
# Método 3: sustituir por un valor especifico "10"
# Este código encuentra los blancos o valores faltantes
# de la variable Fecha Alta y los rellena con el valor "10"
data3["Fecha Alta"]=data3["Fecha Alta"].fillna(10)

In [15]:
# identificar datos nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [16]:
# Cuarto metodo de sustitucion de valores
# sustituir valores nulos por un string concreto
data3["Fecha Venta"]=data3["Fecha Venta"].fillna("2030-06-19 00:00:00")
data3

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.000000,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.000000,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.000000,1121906.0,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.000000,1121906.0,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.000000,185000.0,2004-07-10 00:00:00,María
...,...,...,...,...,...,...,...,...
3332,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.000000,1450644.0,2030-06-19 00:00:00,NaN
3333,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.000000,454080.0,2030-06-19 00:00:00,NaN
3334,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78.000000,740688.0,2030-06-19 00:00:00,NaN
3335,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.000000,397408.0,2030-06-19 00:00:00,NaN
3336,2007-04-30 00:00:00,Parking,Venta,Lleida,170.236124,2140712.0,2030-06-19 00:00:00,NaN

In [17]:
# identificar datos nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [18]:
# 5 metodo
# sustituir VN por VN hacia adelante "forward fill" ("ffill")
#filtro por columnas
data3["Tipo"]=data3["Tipo"].fillna(method="ffill")

<ipython-input-18-e370de888680>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3["Tipo"]=data3["Tipo"].fillna(method="ffill")

In [19]:
# identificar datos nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [20]:
#sexto metodo
# Este metodo mira por el valor no faltante mas cercano despues del valor faltante
# y usa ese valor para llenar el vacio.Este proceso se repite para todos los
#valores faltantes en la misma columna Operacion
data3["Operación"]=data3["Operación"].fillna(method="bfill")

<ipython-input-20-5265d604ed0e>:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3["Operación"]=data3["Operación"].fillna(method="bfill")

In [21]:
# identificar datos nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         0
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [22]:
# Metodo 7:
# Imagine the "Provincia" column has a missing value. This line of code looks back up
# the column to find the closest previous value that's not missing and uses that value
# to replace the missing one. It essentially "carries forward" the last known value to
# fill the gap.
data3["Provincia"]=data3["Provincia"].fillna(method="ffill")

<ipython-input-22-426b69d08c36>:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3["Provincia"]=data3["Provincia"].fillna(method="ffill")

In [23]:
# identificar datos nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         0
Provincia         0
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [24]:
data3

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.000000,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.000000,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.000000,1121906.0,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.000000,1121906.0,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.000000,185000.0,2004-07-10 00:00:00,María
...,...,...,...,...,...,...,...,...
3332,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.000000,1450644.0,2030-06-19 00:00:00,NaN
3333,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.000000,454080.0,2030-06-19 00:00:00,NaN
3334,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78.000000,740688.0,2030-06-19 00:00:00,NaN
3335,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.000000,397408.0,2030-06-19 00:00:00,NaN
3336,2007-04-30 00:00:00,Parking,Venta,Lleida,170.236124,2140712.0,2030-06-19 00:00:00,NaN

In [25]:
# Metodo 8:
# cambiar una variable string de valor nulo por un valor especifico
# por ejemplo "generico"
data3["Vendedor"]=data3["Vendedor"].fillna("generico")

In [26]:
#listar los valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

In [27]:
# Ahora realizamos una copia del dataframe data2 a un dataframe data4
data4=data2.copy()
data4

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,NaN,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María
...,...,...,...,...,...,...,...,...
3332,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.0,1450644.0,NaN,NaN
3333,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.0,454080.0,NaN,NaN
3334,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78.0,740688.0,NaN,NaN
3335,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.0,397408.0,NaN,NaN
3336,2007-04-30 00:00:00,Parking,Venta,Lleida,NaN,2140712.0,NaN,NaN

Metodo de eliminacion de los nuelos por columnas

In [28]:
# Este metodo elimina todas las filas donde haya nulos
# Esto significa que la BD se reduce en tamaño, se pierden datos
data4=data2.dropna()
data4

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María
5,2004-01-03 00:00:00,Industrial,Alquiler,Girona,131.0,953156.0,2004-09-05 00:00:00,Pedro
7,2004-01-03 00:00:00,Oficina,Venta,Girona,235.0,2158475.0,2004-10-31 00:00:00,Jesús
...,...,...,...,...,...,...,...,...
3016,2006-12-30 00:00:00,Casa,Alquiler,Barcelona,264.0,1060488.0,2007-04-28 00:00:00,Joaquín
3017,2006-12-31 00:00:00,Oficina,Venta,Lleida,69.0,483828.0,2007-05-05 00:00:00,Pedro
3030,2007-01-07 00:00:00,Industrial,Alquiler,Lleida,196.0,904344.0,2007-04-20 00:00:00,Pedro
3042,2007-01-09 00:00:00,Local,Venta,Lleida,92.0,709596.0,2007-04-17 00:00:00,Carmen
3045,2007-01-10 00:00:00,Parking,Venta,Barcelona,233.0,1077858.0,2007-04-30 00:00:00,María

In [29]:
# identificar datos nulos
valores_nulos=data4.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

In [30]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    3337 non-null   object
 1   Tipo          3337 non-null   object
 2   Operación     3337 non-null   object
 3   Provincia     3337 non-null   object
 4   Superficie    3337 non-null   float64
 5   Precio Venta  3337 non-null   float64
 6   Fecha Venta   3337 non-null   object
 7   Vendedor      3337 non-null   object
dtypes: float64(2), object(6)
memory usage: 208.7+ KB

In [31]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2747 entries, 0 to 3045
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    2747 non-null   object
 1   Tipo          2747 non-null   object
 2   Operación     2747 non-null   object
 3   Provincia     2747 non-null   object
 4   Superficie    2747 non-null   float64
 5   Precio Venta  2747 non-null   float64
 6   Fecha Venta   2747 non-null   object
 7   Vendedor      2747 non-null   object
dtypes: float64(2), object(6)
memory usage: 257.7+ KB

In [32]:
#convertir Dataframe a CSV
data3.to_csv('inmuebles_sin_nulos.csv', index=False)
#descargar archivo filtrado en csv
from google.colab import files
files.download('inmuebles_sin_nulos.csv')